
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
html, body, #root {
  height: 100%;
}
@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeInUp {
  animation: fadeInUp 0.6s ease-out;
}
